<!DOCTYPE html>
<html>
  <head>
    <title>SoundProud</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script type="text/javascript">
      window.soundCloudIcon = "<%= image_url('soundcloud-icon.png') %>"
      window.notificationIcon = "<%= image_url('notification-icon.png') %>"
      window.mailIcon = "<%= image_url('mail-icon.png') %>"
      window.dotsIcon = "<%= image_url('dots-icon.png') %>"
      window.caretIcon = "<%= image_url('caret-icon.png') %>"
      window.defaultPhoto = "<%= image_url('default-photo.png') %>"



    </script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
