<!DOCTYPE html>
<html>
  <head>
    <title>SoundProud</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143570502-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-143570502-1');
    </script>


    <script type="text/javascript">
      window.splashFirstImage = "<%= image_url('soundproud_splash.png') %>"
      window.splashSecondImage = "<%= image_url('splash-second-image.png') %>"
      window.soundCloudIcon = "<%= image_url('soundcloud-icon.png') %>"
      window.notificationIcon = "<%= image_url('notification-icon.png') %>"
      window.mailIcon = "<%= image_url('mail-icon.png') %>"
      window.dotsIcon = "<%= image_url('dots-icon.png') %>"
      window.caretIcon = "<%= image_url('caret-icon.png') %>"
      window.defaultPhoto = "<%= image_url('default-photo.png') %>"
      window.editIcon = "<%= image_url('edit-icon.png') %>"
      window.trashIcon = "<%= image_url('trash-icon.png') %>"
      window.cameraIcon = "<%= image_url('camera-icon.png') %>"
      window.playIcon = "<%= image_url('play-icon.png') %>"
      window.playIcon2 = "<%= image_url('play-icon2.png') %>"
      window.pauseIcon = "<%= image_url('pause-icon.png') %>"
      window.pauseIcon2 = "<%= image_url('pause-icon2.png') %>"
      window.playbackIcon = "<%= image_url('playback-icon.png') %>"
      window.volumeIcon = "<%= image_url('volume-icon.png') %>"
      window.muteIcon = "<%= image_url('mute-icon.png') %>"


    </script>
    <script src="https://unpkg.com/wavesurfer.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <script src="https://kit.fontawesome.com/32bf9f9a0a.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
